@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  font-family: "Lora", serif;
}

/* Apply Sen to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
}

@theme {
  --color-main: #2c3e50;
  --color-logo: #159f43;
}

@layer utilities {
  .container {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }

  /* xs (default) - full width with padding */

  /* sm (640px) */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  /* md (768px) */
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  /* lg (1024px) */
  @media (min-width: 1024px) {
    .container {
      max-width: 1224px;
    }
  }
}
